body {
    font-family: Arial, Helvetica, sans-serif;
    background: #66d2ea;
    padding: 20px;
}

.container__register {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  10px  10px 5px #003642;
}

h2{
    color: #003642;
}

.container__register img{
    width: 80%;
}

input, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

button:hover{
    background-color: #0082a0;
    color: white;
}